[access]
	inheritFrom = All-Projects
[project]
	description = hello gitt
[access "refs/*"]
	owner = group user/abdoulayebaro
[access "refs/for/refs/*"]
	read = group user/abdoulayebaro
	push = group user/abdoulayebaro
	label-Code-Review = -2..+2 group user/abdoulayebaro
	label-Verified = -1..+1 group user/abdoulayebaro
	rebase = group user/abdoulayebaro
	removeReviewer = group user/abdoulayebaro
	submit = group user/abdoulayebaro
[access "refs/heads/*"]
	read = group user/abdoulayebaro
	create = group user/abdoulayebaro
	push = +force group user/abdoulayebaro
	pushMerge = group user/abdoulayebaro
[access "refs/tags/*"]
	push = group user/abdoulayebaro
	push = +force group user/abdoulayebaro
